# DataFrame Verification

Given a DataFrame `auto_df` from [Data Ingestion](data_ingestion.md):
```python
auto_df.ai.verify("expect sales change percentage to be between -100 to 100")
```

> result: True
